{% load static %}
<footer>
    <div class="main-footer">
        <a href="https://www.facebook.com/carnebar22-108019755364520" target="_blank"> 
            <img class="ico" src="{% static 'main/images/f_logo.png' %}"  alt="facebook">
        </a>

        <a href="https://wa.me/972509368492" target="_blank">
            <img class="ico" src="{% static 'main/images/whatsapp.png' %}"  alt="whatsapp">
        </a>

        <a href="https://wolt.com/en/isr/tel-aviv/restaurant/carnebar" target="_blank">
            <img class="ico" src="{% static 'main/images/wolt.png' %}"  alt="wolt">
        </a>

    </div>
    <div class="credits">
        Crafted with ❤️ by
        <a class="link" href="https://www.linkedin.com/in/ruslan-developer/" target="_blank">@Ruslan_K</a>
    </div>
</footer>
{% comment %} <script>document.getElementById( 'auto_scroll' ).scrollIntoView();</script> {% endcomment %}
