{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=yes,shrink-to-fit=no">
<title>CARNEBAR</title>
<meta name="theme-color" content="#000000">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'main/css/navbar.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'main/css/image_displayer.css' %}" type="text/css">

<link rel="stylesheet" href="{% static 'main/css/accessible.css' %}" type="text/css">
<style>
  {% comment %} #Accessible BIG WHITE CURSOR {% endcomment %}
  body.accessible-big-cursor-white,
  body.accessible-big-cursor-white * {
      cursor: url('{% static "accessibility-icons/big-cursor-white.png" %}') 10 0, auto !important;
  }
  {% comment %} #Accessible BIG BLACK CURSOR {% endcomment %}
  body.accessible-big-cursor-black,
  body.accessible-big-cursor-black * {
      cursor: url('{% static "accessibility-icons/big-cursor-black.png" %}') 10 0, auto !important;
  }
</style>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6PQP2TERQ3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6PQP2TERQ3');
</script>