{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=yes,shrink-to-fit=no">
<title>CARNEBAR</title>
<meta name="theme-color" content="#000000">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'main/css/navbar.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'main/css/image_displayer.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'main/css/accessible.css' %}" type="text/css">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6PQP2TERQ3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6PQP2TERQ3');
</script>