{% load static %}
<!DOCTYPE html>
<html="he">
<head>
    {% include 'main/modules/head_set.html' %}
</head>
<body>
    {% include 'main/modules/header.html' %}
    {% include 'main/modules/navbar.html' %}
    <div class="main">
        <section class="content" >

            <h1>צור קשר </h1>
            
            <div class="info_block">
                <h3>
                    <small>דברו איתנו</small><br>
                    050-936-84-92 <br><br>
                    <small>שעות פתיחה</small><br>
                    ימים א’-ה’ 20:00-10:00 </br>
                    ימים ו’-ש’ סגור<br><br>

                    <small>סניף בתל אביב</small><br>
                    שדרות יהודית 27<br>
                    
                </h3>
                <br>

                <iframe width="100%" height="300px" id="gmap_canvas" src="https://maps.google.com/maps?q=Sderot%20Yehudit%2027,%20Tel%20Aviv-Yafo&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>

        </section>
    </div>
    {% include 'main/modules/footer.html' %}
</body>
</html>