{% load static %}
<!DOCTYPE html>
<html="he">
<head>
    {% include 'main/modules/head_set.html' %}
</head>
<body>
    {% include 'main/modules/header.html' %}
    {% include 'main/modules/navbar.html' %}
    <div class="main">
        <section class="content" >

            <div class="gallery_feed">
                <img class="displayer" alt="אסאדו בג'בטה" src="{% static 'main/images/carnebar/crop-1170-830/18.124311.compressed.jpg' %}" loading="lazy">
                <img class="displayer" alt="צ'וריסו צ'ורי - פן בג'בטה" src="{% static 'main/images/carnebar/crop-1170-830/18.124284.compressed.jpg' %}" loading="lazy">
                <img class="displayer" alt="קרנה בורגר" src="{% static 'main/images/carnebar/crop-1170-830/18.124274.compressed.jpg' %}" loading="lazy">
                <img class="displayer" alt="אמפנדס" src="{% static 'main/images/carnebar/crop-1170-830/18.124300.compressed.jpg' %}" loading="lazy">
                <img class="displayer" alt="שניצל מילנזה בג'בטה" src="{% static 'main/images/carnebar/crop-1170-830/18.124282.compressed.jpg' %}" loading="lazy">
                <img class="displayer" alt="אסאדו בצלחת" src="{% static 'main/images/carnebar/crop-1170-830/18.124275.compressed.jpg' %}" loading="lazy">
            </div>

        </section>
    </div>
    {% include 'main/modules/image_displayer.html' %}
    {% include 'main/modules/footer.html' %}
</body>
</html>