.navbar {
    background-color: #000000bb;
    text-shadow: 3px 3px 5px rgb(20, 17, 17);
    padding: 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: large;
    z-index: 1;
}
  
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.navbar li {
    display: inline-block;
    margin-right: 16px;
    margin-left: 0;
}
  
.navbar li:last-child {
    margin-left: 0;
}
  
.navbar a {
    text-decoration: none;
    color: rgb(245, 240, 230)
}
  
.navbar a:hover,
.navbar a.active {
    color: #ff0000;
}

.navbar .openbtn {
    display: none;
    color: rgb(245, 240, 230)
}

/* Mobile navigation */
@media screen and (max-width: 600px) {
    .navbar{
        font-size: larger;
    }
    .navbar .openbtn {
        display: block;
        width: min-content;
        margin-right: 16px;
        font-size: x-large;
    }

    .navbar .openbtn .ico-close{
        display: none;
    }

    .navbar.active .openbtn .ico-close{
        display: block;
    }

    .navbar.active .openbtn .ico-menu{
        display: none;
    }

    .navbar {
        transition: all 0.5s;
    }
    
    .navbar.active {
        background-color: black;
    }

    .navbar ul {
        transition: max-height 0.3s ease-out;
        max-height: 0;
        overflow: hidden;
    }

    .navbar.active ul {
        transition: all 0.5s;
        max-height: 700px;
        overflow: hidden;
    }

    .navbar li {
        display: block;
        opacity: 0;
        transition: opacity 0.5s ease-out;
        margin-top: 16px;
    }

    .navbar.active li {
        opacity: 1;
        transition: opacity 0.1s 0.1s ease-in;
    }

}